body {
  padding-left: 25px;
  padding-right: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.goals{
	margin-top: 30px;
}

.goalColForm{
 	width: 100px !important;
}

.goalCol{
 	width: 100px !important;
}

.goalColForm{
	width: 100px !important;
}
.col-custom{
	flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
.progress-custom{
	height: auto !important;
}
